* {
    margin: 0;
    padding: 0 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --mainBlue: #2460DA;
    --Blue: #128cba;
    --softBlue: #71ceed;
    --mainWhite: #eeecec;
    --mainBlack: #292F36;
    --softOrange: #f9dda3;
    --mainOrange: #f89b07;
}

body {
    background-image: radial-gradient(circle, #051937, #022a5d, #023c85, #0e4eaf, #2460da);
    direction: rtl;
    word-spacing: -1px;
}

.Form-Title {
    color: var(--mainBlack);
    border-right: 1px solid var(--mainWhite);
    border-left: 1px solid var(--mainWhite);
    cursor:default;
}

.loginFormContainer {
    height: 36.9rem;
    background-color: var(--mainBlue);
    border-radius: 7px;
}
.inputes {
    position: relative;
    top: 6rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border-radius: 6px;
    border: none;
    border-bottom: 0.5px solid var(--mainBlue);
    outline: 0;
    padding: 1.2rem;
    height: 2.4rem;
    color: #1f1c1c !important;
    font-size: 20px;
    background-color: #ffffff5e;
}

[type="text"]:focus,
[type="password"]:focus,
[type="email"]:focus {
    background-color: #ffffff5e;
}

input[type="text"]::placeholder,
[type="password"]::placeholder,
[type="email"]::placeholder {
    text-align: center;
    font-size: 18px;
    color: #ffffffbe;
}

.validator-text {
    color: var(--mainWhite);
    font-size: 0.8rem;
    text-align: left;
    position: relative;
    left: -10px;
    margin: 0 15px 8px 15px !important;
}

.validIcon::before {
    content: '\221A';
    font-size: 1rem;
    color: #008A65;
    font-weight: bold;
    position: relative;
    right: 5px;
}

.invalid::before {
    content: '\2613';
    font-size: 1rem;
    font-weight: bold;
    color: #d30000;
    position: relative;
    right: 5px;
}

.loginButton {
    border: none;
    background-color: var(--mainOrange);
    font-size: 18px;
    height: 2.5rem;
    font-weight: bold;
}

.loginButton:hover {
    background-color: var(--softOrange);
    color: var(--mainOrange);
}

@media screen and (max-width:270px) {
    input[type="text"]::placeholder,
    [type="password"]::placeholder {
        font-size: 13px;
    }
}

.LoginOptions {
    color: #f0f8ff;
    text-decoration: none;
}

.LoginOptions:hover {
    color: #ffffff;
    text-decoration: none;
}

.LoginOptions::before {
    content: "";
    width: 37px;
    height: 2px;
    background-color: var(--softBlue);
    position: relative;
    display: inline-block;
    right: 10px;
    bottom: 2px;
    transition: width 0.3s;
}

.LoginOptions:focus::before {
    width: 0;
    transition: width 0.1s ease-in;
}